:root {
    --theme-darker: #6e52cc;
    --theme-dark: #7f5eeb;
    --theme-light: #f0edfa;
}

.leftSection {
    display: flex;
}

.container {
    background-color: white;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    z-index: 1000;
}

.logo {
    font-size: 20px;
    font-weight: 500;
    margin: 0px 3vw;
    color: var(--theme-darker);
    width: auto;
    display: flex;
    align-items: center;
}

.logo-img {
    width: 20px;
    height: 20px;
    margin-right: 4px;
}

.views {
    display: flex;
    align-items: center;
}

.views>* {
    color: #5A5A5A;
    text-decoration: none;
    border: none;
    border-radius: 7px;
    padding: 4px 8px;
    margin: 0px 1.5vw;
    cursor: pointer;
    font-weight: 500;
}

.views>*:hover {
    font-weight: 700;
}

.selected {
    background-color: var(--theme-light);
    color: var(--theme-dark);
}

.buttons {
    display: flex;
    align-items: center;
    margin-right: 2vw;
}

.buttons>* {
    border: 1px solid var(--theme-dark);
    border-radius: 7px;
    padding: 8px 16px;
    margin-left: 10px;
    cursor: pointer;
}

.login-btn {
    background-color: white;
    color: var(--theme-dark);
}

.signup-btn {
    background-color: var(--theme-dark);
    color: var(--theme-light);
}

.login-btn:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.signup-btn:hover {
    background-color: var(--theme-darker);
}